{% extends 'events/base.html' %}

{% block content %}
<style>
    .card-column {
      margin-bottom: 20px;
    }
    .custom-card-img {
    height: 200px;
    object-fit: cover;
    }
</style>
	<h1 class="font-monospace">Hello {{ name }}! Events For {{ month }} {{ year }}</h1>

	(As of {{ time }})
	<br/><br/>
	<h3>Events This Month...</h3>

	{% if event_list %}
	<br>
	<div class="row">
	{% for event in event_list %}
	{%if event.approved%}
	<br>
		<div class="col-md-4 card-column">
		  <div class="card h-100">
			{% if event.event_image %}
			<img class="card-img-top custom-card-img" src="{{event.event_image.url}}" alt="Image">
			{% endif %}
			<div class="card-body">
			  <h5 class="card-title">{{ event }}</h5>
			  <p class="card-text"><p class="font-monospace">{{ event.description|slice:":100" }}...</p><br> Last date to apply: {{ event.event_date }}</p>
			</div>
			{%if user.is_authenticated%}
			<div class="card-footer">
			  <a href="{% url 'apply-event' %}" class="btn btn-secondary">Apply</a>
			</div>
			{%endif%}
		  </div>
		</div>
	
	
	<br>
	<br>
	{%endif%}
	{% endfor %}
	</div>
	{% else %}
	Sorry...There are no events this month...
	{% endif %}
	<center>
	<br/><br/><br/><br/>
	</center>
{% endblock %}